<module>
	<rawname>manager</rawname>
	<name>Asterisk API</name>
	<version>2.4.0</version>
	<type>tool</type>
	<category>System Administration</category>
	<menuitems>
		<manager>Asterisk API</manager>
	</menuitems>
	<changelog>
		*2.4.0* it translations
		*1.3.1* bump for rc1
		*1.3* Added SQLite3 support, fixes ticket 1776
		*1.2* Fix UI issues, and 'Array' message.
		*1.1* First 2.2 release. Added he_IL support, fixed some warnings.
	</changelog>
	<location>release/2.4/manager-2.4.0.tgz</location>
	<md5sum>a47388e7ca9e696562447fa967baa733</md5sum>
</module>
